<div class="center-top">
    <div><a class="title" href={{link "" language}}>Fernanda Reis</a></div>
    <div><a class="subtitle" href={{link "" language}}>{{translate "PHOTOGRAPHY" language}}</a></div>
</div>

<div class="menu">
    <a class="menu-itens" href={{link "" language}}>{{translate "MENU_HOME" language}}</a>
    <a class="menu-itens" href={{link "about" language}}>{{translate "MENU_ABOUT" language}}</a>
    <div class="portfolio">
        <div class="menu-itens porfolio">{{translate "MENU_PORTFOLIO" language}}</div>
        <div class="menu-portfolio-wrapper">
            <div class="menu-portfolio">
                <a class="menu-icons" href={{link "maternity" language}}>{{translate "MENU_MATERNITY" language}}</a>
                <a class="menu-icons" href={{link "newborns" language}}>{{translate "MENU_NEWBORNS" language}}</a>
                <a class="menu-icons" href={{link "kidsandfamilies" language}}>{{translate "MENU_FAMILIES" language}}</a>
                <a class="menu-icons" href={{link "couples" language}}>{{translate "MENU_COUPLES" language}}</a>
                <a class="menu-icons" href={{link "portraits" language}}>{{translate "MENU_PORTRAITS" language}}</a>
                <a class="menu-icons" href={{link "landscapesandcityscapes" language}}>{{translate "MENU_LANDSCAPES" language}}</a>
            </div>
        </div>
    </div>
    <a class="menu-itens" href={{link "fotosemberlim" language}}>Fotos em Berlim</a>
    <a class="menu-itens actual-page" href={{link "instagram" language}}>Instagram</a>
    <a class="menu-itens" href={{link "contact" language}}>{{translate "CONTACT" language}}</a>
    <a class="menu-itens idioma actual-page" href="/en">EN</a>
    <div class="menu-itens idioma">/</div>
    <a class="menu-itens idioma" href="/pt">PT</a>
</div>

<div class="instagram-wrapper">
    <a href="https://www.instagram.com/fernandareisphotography/" target="_blank"><img class="insta" src="/insta.png" alt=""></img></a>

    <div class="insta-infos">
        <a class="insta-text" href="https://www.instagram.com/fernandareisphotography/" target="_blank"><div class="insta-address">@fernandareisphotography</div></a>

        <div class="insta-description">Lifestyle Photographer documenting life and its beautiful moments 🍃 Berlin based</div>
    </div>
</div>

<div class="ig-list">
    {{#each images as |image|}}
    <a class="ig-preview" href={{image.link}} target="_blank">
        <div style="background-image:url({{image.img}})"></div>
    </a>
    {{/each}}
</div>

<div class="footer">
    <div class="text-footer">{{translate "FOOTER_TEXT" language}}</div>
    <div class="social-medias">
        <a href="https://www.facebook.com/fernandareisphotography" target="_blank"><i class="fab fa-facebook-f facebook"></i></a>
        <a href="https://www.instagram.com/fernandareisphotography/" target="_blank"><i class="fab fa-instagram instagram"></i></a>
    </div>
</div>