


        <div class="container">
                <div class="white-background">
                    <div class="white-background-inlet"></div>
                    <img src="/close.png" class="close">
                    <div class="arrows">
                        <img src="/left.png" class="left-arrow">
                        <img src="/right.png" class="right-arrow">
                    </div>


                </div>
                <div class="center-top">
                    <div><a class="title" href={{link "" language}}>Fernanda Reis</a></div>
                    <div><a class="subtitle" href={{link "" language}}>{{translate "PHOTOGRAPHY" language}}</a></div>
                </div>

                <div class="menu">
                    <a class="menu-itens" href={{link "" language}}>{{translate "MENU_HOME" language}}</a>
                    <a class="menu-itens" href={{link "about" language}}>{{translate "MENU_ABOUT" language}}</a>
                    <div class="portfolio">
                        <div class="menu-itens porfolio actual-page">{{translate "MENU_PORTFOLIO" language}}</div>
                        <div class="menu-portfolio-wrapper">
                            <div class="menu-portfolio">
                                <a class="menu-icons" href={{link "maternity" language}}>{{translate "MENU_MATERNITY" language}}</a>
                                <a class="menu-icons" href={{link "newborns" language}}>{{translate "MENU_NEWBORNS" language}}</a>
                                <a class="menu-icons" href={{link "kidsandfamilies" language}}>{{translate "MENU_FAMILIES" language}}</a>
                                <a class="menu-icons" href={{link "couples" language}}>{{translate "MENU_COUPLES" language}}</a>
                                <a class="menu-icons" href={{link "portraits" language}}>{{translate "MENU_PORTRAITS" language}}</a>
                                <a class="menu-icons" href={{link "landscapesandcityscapes" language}}>{{translate "MENU_LANDSCAPES" language}}</a>
                            </div>
                        </div>
                    </div>
                    <a class="menu-itens" href={{link "fotosemberlim" language}}>Fotos em Berlim</a>
                    <a class="menu-itens" href={{link "instagram" language}}>Instagram</a>
                    <a class="menu-itens" href={{link "contact" language}}>{{translate "CONTACT" language}}</a>
                    <a class="menu-itens idioma actual-page" href="/en">EN</a>
                    <div class="menu-itens idioma">/</div>
                    <a class="menu-itens idioma" href="/pt">PT</a>
                </div>

                <div id="pictures-bottom-pages">

                    <div class="wrapper-fotos">
                        <a href="{{link "portraits" language}}/1"><img class="picture-pages" src="/Giordana/03072018-028.jpg"></img></a>
                        <a class="text-bottom-pictures" href="/portraits/1">Giordana</a>
                    </div>
                    <div class="wrapper-fotos">
                        <a href="{{link "portraits" language}}/2"><img class="picture-pages" src="/Graziela/09072017-013.jpg"></img></a>
                        <a class="text-bottom-pictures" href="/portraits/2">Graziela</a>
                    </div>
                    <div class="wrapper-fotos">
                        <a href="{{link "portraits" language}}/3"><img class="picture-pages" src="/Maria/Maria.png"></img></a>
                        <a class="text-bottom-pictures" href="/portraits/3">Maria</a>
                    </div>
                    <div class="wrapper-fotos">
                        <a href="{{link "portraits" language}}/4"><img class="picture-pages" src="/Manoella/03062017-009.jpg"></img></a>
                        <a class="text-bottom-pictures" href="/portraits/4">Manoella</a>
                    </div>
                    <div class="wrapper-fotos">
                        <a href="{{link "portraits" language}}/5"><img class="picture-pages" src="/Isadora/26042018-063.jpg"></img></a>
                        <a class="text-bottom-pictures" href="/portraits/5">Isadora</a>
                    </div>

                </div>



                <div class="footer">
                    <div class="text-footer">{{translate "FOOTER_TEXT" language}}</div>
                    <div class="social-medias">
                        <a href="https://www.facebook.com/fernandareisphotography" target="_blank"><i class="fab fa-facebook-f facebook"></i></a>
                        <a href="https://www.instagram.com/fernandareisphotography/" target="_blank"><i class="fab fa-instagram instagram"></i></a>
                    </div>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="/script.js" type="text/javascript" charset="utf-8"></script>
            <script src="/script2.js" type="text/javascript" charset="utf-8"></script>
